*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.container{
 width: 100%;
 min-height: 100vh;
 background:#0b0423;
 align-items: center;
 display: flex;
 justify-content: center;
}

#left, #right{

    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed #fff;



}
.list{
    border-radius: 5px;
    background: #e91e63;
    height: 60px;
    margin: 30px;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    cursor:grab;

}